# Python
venv/
__pycache__/
*.pyc

# Environment
.env
backend/.env
frontend/.env

# Databases
*.db
*.db.bak
chroma_db/

# Audio
*.wav
*.mp3

# Build
dist/
build/

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log